
.container {
    height: 650px;
    width: 100vw;
    display: flex;
    gap: 20px;
    color: var(--bordercolor);
}
h1{
    text-align: center;
}
.circle {
    height: 15px;
    width: 15px;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: gray;

}
.box1 {
    display: flex;
    width: 50%;
    background-color:var(--div-bgColor);
}

.box2 {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    background-color:var(--div-bgColor);
}
.test1 {
    width: 10px;
    height: 10px;
    background-color:var(--btn-color);
    position: absolute;
    border-radius: 3px;
    cursor: pointer;
    
}
.dialogBox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.material-symbols-outlined{
    cursor: pointer;
}
button{
    font-size: 14px;
    background-color:#60bcc9;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    margin-top: 20px;
    cursor: pointer;
    color: #ffffff;
}
.bgColor{
    background-color: #60bcc9;
    color: #ffffff;
}


